.img-foro{
    background-image: url("../../../assets/img/fondo1.png");
    background-size: contain;
    width: 100%;
    height: 35%;
}


.img-foro h1{
    padding: 7%;  
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: rgb(33, 19, 3);
    margin: 0 0 0px;
}


.img-foro h1:hover{
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(56, 39, 9);
}


