.example-spacer {
  flex: 1 1 auto;
}

.navb{
  background: linear-gradient(to top, #110901fb 0%, #272626a9 100%);
  color: white;
  font-family: 'Abril Fatface', cursive;
}

.navb  .title{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2pt;
}

.navb  .title:hover{

  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}


.efectos-btn{
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  font-weight: 500;
  padding: 0.3em 0.5em;
  background: linear-gradient(to top, #795635c1 0%, #ca8754b6 100%);
  /* border: 2px solid;
  border-color: #42240579; */
  position: relative;
  /* border-radius: 10em; */
  text-align: center;
  margin: 5px;
}

.efectos-btn:hover{
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgb(244, 196, 140);
  transition: all 0.2s ease;
}


/*----------------new -----------*/
