.example-card {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: black;
  /* background: linear-gradient(to top, #110901fb 0%, #272626a9 100%); */
  background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
}

.example-card-comm {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: black;
  /* background: linear-gradient(to top, #110901fb 0%, #272626a9 100%); */
  background: linear-gradient(to top, #f8f5f5fb 0%, #dbdbdba9 100%);
}


.example-card-txt {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: black;
  /* background: linear-gradient(to top, #110901fb 0%, #272626a9 100%); */
  background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
}

mat-card-subtitle{
  color: rgb(66, 64, 64);

}


.example-card-cm {
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 7px;
  color: white;
  background: linear-gradient(to top, #909090fb 0%, #5b5a59a9 100%);
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .example-card .hora{
    float: right;
    width: 10%;
    
  }


  .example-card button{
    color: white;
    background: linear-gradient(to top, #393736fb 0%, #757474a9 100%);

  }

  .example-card-txt button{
    color: white;
    background: linear-gradient(to top, #888685a4 0%, #757474a9 100%);

  }

  .example-card-txt h2{
    color: black;

  }
  
  .acciones{
    height: 27px;
  }
  
  .acciones .izq{
    float: right;
  }

  .ex mat-card-title{
    font-size: 42px;
  }


 