<div class="container">
  <mat-card class=" example-card ex">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image "></div>
      <mat-card-title>{{publicacion.titulo}}</mat-card-title>
      <mat-card-subtitle>{{publicacion.usuario}}</mat-card-subtitle>

      <div class="hora">
        <mat-card-subtitle>{{publicacion.fecha |date:'shortTime'}}</mat-card-subtitle>
        <mat-card-subtitle>{{publicacion.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
      </div>
    </mat-card-header>

    <mat-card-content>
       <div [innerHTML]="publicacion.contenido | safeHtml"></div> 
      </mat-card-content>

      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button><mat-icon matTooltip="No me gusta" (click)="like()">thumb_up</mat-icon><span>{{publicacion.cant_like}}</span></button>
        <button mat-button><mat-icon matTooltip="No me gusta" (click)="dislike()">thumb_down</mat-icon><span>{{publicacion.cant_dislike}}</span></button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card class="example-card-cm">
    <h2>Comentarios :</h2>
    </mat-card>  <!---------------------------Comentarios--------------------->
  
  <div *ngFor="let coment of publicacion.lista_comentarios ">

    <mat-card class="example-card-comm">
      <mat-card-title-group>
        <mat-card-title>{{coment.usuario}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <div class="hora">
          <mat-card-subtitle>{{coment.fecha |date:'shortTime'}}</mat-card-subtitle>
          <mat-card-subtitle>{{coment.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
        </div>
      </mat-card-title-group>
      <mat-card-content>
        <div [innerHTML]=" coment.contenido | safeHtml"></div> 
     </mat-card-content>
    </mat-card>
    <br>
  </div>


 <mat-card class="example-card-txt">
  <h2>Comenta algo:</h2>  
  <form [formGroup]="form" action="">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      <br>
      <ngx-editor
      [editor]="editor"
      formControlName="contenido"
      placeholder="Escribe un comentario..."
      ></ngx-editor>
      <br>
      <button mat-button  [disabled]="form.invalid" (click)="Guardar()">Guardar</button>
      <br>
      <br>

    </form>
 </mat-card>
  <!-- <textarea [(ngModel)]="userHtml "></textarea>
    <br />
    <div [innerHtml]="userHtml | safeHtml"></div>  -->

  
</div>