<div class="login-back">
  <div class="container login-back">
    <div class="button">
      <button  mat-icon-button routerLink="/inicio">
        <mat-icon class="gg" matTooltip="Volver">arrow_back</mat-icon>
      </button>
    </div>
    <div class="login">
      <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
  
      <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
        <img src="./assets/img/user.png" alt="imagen de usuario">
      
        <h1>Autenticacion de Usuarios</h1>
      <mat-form-field class="ancho" appearance="standard">
        <mat-label>Usuario</mat-label>
        <input 
        matInput
        formControlName="usuario"
        >
      </mat-form-field>
      <mat-form-field class="ancho" appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input 
        formControlName="password"
        matInput
        type="password"
        >
      </mat-form-field>
      <br>
        <button 
        class="ancho boton" 
        mat-raised-button 
        type="submit"
        [disabled]="form.invalid"
        >Ingresar</button>
      </form>
      <br>
      <p *ngIf="noexiste">El usuario no existe</p>
      No tiene cuenta? <a routerLink="/register">Registrese</a>
    </div>
  </div>
</div>

