.example-card {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: 40%;
  margin: 0 auto;
  margin-bottom: 12px;
  color: black;
  background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.example-card button{
  color: white;
  background: linear-gradient(to top, #393736fb 0%, #757474a9 100%);

}