<div class="container">
 
  <mat-card class="example-card">

    <mat-card-title-group>
      <mat-card-title>{{user.usuario}}</mat-card-title>
      
      <div >
        <mat-card-subtitle>Fecha Union</mat-card-subtitle>
        <mat-card-subtitle>{{user.fecha |date: 'MM/dd/yyyy' }}</mat-card-subtitle>
        <mat-card-subtitle>{{user.fecha |date:'shortTime'}}</mat-card-subtitle>
      </div>
    </mat-card-title-group>
    <mat-card-content>
      
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <p>
        Hola Soy <strong>{{user.usuario}}</strong> estoy feliz de poder estar aquí.
        <br>
        Lo mejor de esta vida es tener vida y un cafesito a la mano, para asi poder afrontar todo en la vida.
      </p>
    </mat-card-content>

    <mat-divider inset></mat-divider>
    <mat-card-actions>
     
        <button  mat-button  matTooltip="Crear Nuevo" (click)="crearNuevoP()">
          <mat-icon >edit_square</mat-icon>
          Nuevo Artículo
        </button >
      
        <button  mat-button matTooltip="Ver" (click)="verPost()">
          <mat-icon  >featured_play_list</mat-icon>
          Mis Posts
        </button>
    
    </mat-card-actions>
  </mat-card>
  <br>
    <div *ngIf="verP">
      <div class="example-card" *ngIf="user.lista_public.length == 0"><h2>Vacio....</h2></div>

      <div *ngIf="user.lista_public.length > 0 ">
        <mat-card class="example-card"    *ngFor="let m of user.lista_public" >
          <mat-card-title-group>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{m.titulo}}</mat-card-title>
            <mat-card-subtitle>{{m.usuario}}</mat-card-subtitle>
            <div >
              <mat-card-subtitle>{{m.fecha |date: 'MM/dd/yyyy'}}</mat-card-subtitle>
              <mat-card-subtitle>{{m.fecha |date:'shortTime'}}</mat-card-subtitle>
              <!-- <button  mat-button > -->
                <mat-icon  matTooltip="Eliminar" (click)="eliminarPost(m.id)">delete</mat-icon>
              <!-- </button> -->
              <!-- <button  mat-button > -->
                <mat-icon matTooltip="Editar" (click)="editarPost(m)" >edit</mat-icon>
              <!-- </button> -->
            </div>
          </mat-card-title-group>

          <mat-card-content>
            <div [innerHTML]=" m.contenido | safeHtml"></div> 
          </mat-card-content>
          
          <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button><mat-icon matTooltip="No me gusta" >thumb_up</mat-icon><span>{{m.cant_like}}</span></button>
        <button mat-button><mat-icon matTooltip="No me gusta" >thumb_down</mat-icon><span>{{m.cant_dislike}}</span></button>
      </mat-card-actions>
        </mat-card>
      </div>
    </div>

  <mat-card class="example-card" *ngIf="crearP">
 
     <form [formGroup]="form" >
       <!-- [(ngModel)]="titulo" -->
       
       <!-- <div class="example-card"> -->
        <h3>Contenido :</h3>
        <mat-form-field  appearance="outline">
          <mat-label>Título</mat-label>
          <input 
          matInput
          formControlName="titulo"
          >
        </mat-form-field>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor
        [editor]="editor"
        formControlName="contenido"
        ></ngx-editor>
        <!-- [(ngModel)]="html" -->
        <br>
        <button mat-button  *ngIf="!editarP" [disabled]="form.invalid" (click)="Guardar()">Guardar</button>
        <button mat-button  *ngIf="editarP" [disabled]="form.invalid" (click)="guardarCambios()">Guardar Cambios</button>
        <br>
        <br>
      <!-- </div> -->
     
    </form>
  </mat-card>


</div>