.hora{
    float: right;
    width: 10%;
  }

  .example-card {
    max-width: 100%;
    max-height: 100%; 
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 7px;
    color: black;
    background: linear-gradient(to top, #d3d3d3fb 0%, #fffefca9 100%);
  }