/* You can add global styles to this file, and also import other style files */

html { }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url(/assets/img/fondo4.jpg);}


.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 50px;
}
