

<!--  CRUD =>CREATE,READ,UPDATE,DELETE
ABML => 
-->


<div class="container container_list">
  
  
  <div *ngIf="listUsuarios.length > 0">
    <mat-form-field class="search" appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...." #input>
    </mat-form-field>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ez" matSort>
    
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
        <!-- Name Column -->
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ultConeccion">
          <th mat-header-cell *matHeaderCellDef> Ultima Conexion</th>
          <td mat-cell *matCellDef="let element"> {{element.ultima_coneccion |date:'shortTime'}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="like">
          <th mat-header-cell *matHeaderCellDef><mat-icon matTooltip="Ingresar">thumb_up</mat-icon></th>
          <td mat-cell *matCellDef="let element"> {{element.cant_like}} </td>
        </ng-container>
      
        <ng-container matColumnDef="dislike">
          <th mat-header-cell *matHeaderCellDef><mat-icon matTooltip="Ingresar">thumb_down</mat-icon></th>
          <td mat-cell *matCellDef="let element"> {{element.cant_dislike}} </td>
        </ng-container>

         <ng-container matColumnDef="public">
          <th mat-header-cell *matHeaderCellDef>Publicaciones</th>
          <td mat-cell *matCellDef="let element"> {{element.lista_public.length}}</td>
        </ng-container> 
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Opcion</th>
          <td mat-cell *matCellDef="let element; let i = index" class="alineacion">
            <a class="icono-1 pointer" matTooltip="Ver" (click)="verUsuario(element.usuario)">
              <mat-icon>search</mat-icon>
            </a>
          </td>
          
    
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
<!--   
      <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator> -->
      
    </div>
  </div>

  <h2 *ngIf="listUsuarios.length == 0">No existe ningun comentario</h2>
</div>

<!--  CRUD =>CREATE,READ,UPDATE,DELETE
ABML => 
-->